/[^.]*
.Trash
.DS_Store
.CFUserTextEncoding
.lesshst
.viminfo
.*_history
/.config/elvish/db
/.config/elvish/lib/github.com
/.config/elvish/rc-local.elv
/.config/elvish/lib/asdf.elv
/.config/gcloud/
/.config/containers/
/.config/micro/
/.config/zed/
/.config/gqrx/
/.config/gtk-2.0/
/.config/iterm2/
/.cups/
/.dlv/
/.gsutil/
/.ipython/
/.jira.d/
/.john/kernels/
/.julia/
/.keras/
/.kube/gke_gcloud_auth_plugin_cache
/.kuberlr/
/.local/
/.mailcap
/.matplotlib
/.ssh/id_*
/.ssh/podman-*
/.ssh/*_ed25519*
/.ssh/authorized_keys
/.mime.types
/.ssh/known_hosts
/.sonar/
/.config/gcloud/logs
/.kube/cache
/.vscode-insiders
/.vscode
/.zsh_sessions
/.npm/
/.rustup/
/.dropbox
/.cargo/
/.skaffold/
/.swiftpm/
/.ansible/
/.krew/
/.mono/
/.vnc/
.tool-versions
/.sonic-pi/
/.gnupg/
/.cache/
/.lldb/

