/[^.]*
.DS_Store
.CFUserTextEncoding
.lesshst
.viminfo
.zsh_history
/.config/elvish/db
/.config/elvish/lib/github.com
/.config/elvish/rc-local.elv
/.config/elvish/lib/asdf.elv
/.config/gcloud/
/.config/containers/
/.gsutil/
/.ipython/
/.jira.d/
/.julia/
/.keras/
/.kube/gke_gcloud_auth_plugin_cache
/.kuberlr/
/.local/
/.mailcap
/.matplotlib
/.ssh/id_*
/.ssh/podman-*
/.ssh/*_ed25519*
/.ssh/authorized_keys
/.mime.types
/.ssh/known_hosts
/.config/gcloud/logs
/.kube/cache
/.vscode-insiders
/.zsh_sessions
/.npm/
/.rustup/
/.dropbox
/.cargo/
/.skaffold/
/.swiftpm/
/.ansible/
/.krew/
/.mono/
/.vnc/
.tool-versions
/.sonic-pi/
/.gnupg/
