/[^.]*
.DS_Store
.CFUserTextEncoding
.lesshst
.viminfo
.zsh_history
/.elvish/db
/.elvish/lib/github.com
/.elvish/rc-local.elv
/.ssh/id_*
/.ssh/known_hosts
/.config/gcloud/logs
/.kube/cache
/.vscode-insiders
/.zsh_sessions
/.julia/artifacts
/.julia/compiled
/.julia/packages
/.rustup/toolchains
/.dropbox
